.login-page {
  width: 90%;
  max-width: 25rem;
  margin: 7rem auto;
  text-align: center;
}

.login-page form {
  margin-bottom: 1rem;
}

.login-page__header {
  /* color: white; */
  text-align: center;
}
